[Unit]
Description=Venise: Venise - Are the AGV Up ?
After=network.target

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/env python3 -m venise.sorties.is_up
WorkingDirectory=/home/nim/LAAS

[Install]
WantedBy=multi-user.target
