[Unit]
Description=Venise: Venise: Simulateur %I
After=network.target
After=venise-cache@%i.service

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/env python3 -m venise.sorties.simulateur -H %i
WorkingDirectory=/home/nim/LAAS

[Install]
WantedBy=multi-user.target
