[Unit]
Description=Venise: Meta
After=network.target

Requires=venise-trajectoire.service
Requires=venise-cache@moro.service
Requires=venise-cache@ame.service
Requires=venise-cache@yuki.service
Requires=venise-simulateur@moro.service
Requires=venise-simulateur@ame.service
Requires=venise-simulateur@yuki.service
Requires=venise-granier@moro.service
Requires=venise-granier@ame.service
Requires=venise-granier@yuki.service
Requires=venise-web.service
Requires=venise-is_up.service

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/echo ok
WorkingDirectory=/home/nim/LAAS


[Install]
WantedBy=multi-user.target
