[Unit]
Description=Venise: Venise - Serveur web
After=network.target
After=venise-trajectoire-granier.service

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/env python2 server.py
WorkingDirectory=/home/nim/LAAS/venise/sorties/web

[Install]
WantedBy=multi-user.target
