[Unit]
Description=Venise: Meta
After=network.target

Requires=venise-trajectoire.service
Requires=venise-cache@ame.service
Requires=venise-simulateur@ame.service
Requires=venise-granier@ame.service
Requires=venise-web.service

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/echo ok
WorkingDirectory=/home/nim/LAAS


[Install]
WantedBy=multi-user.target
