[Unit]
Description=Venise: Venise - Trajectoire Granier
After=network.target
After=venise-ubisense.service

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/env python3 -m venise.trajectoires.granier --s3 0
WorkingDirectory=/home/nim/LAAS

[Install]
WantedBy=multi-user.target
