[Unit]
Description=Venise: Venise: Cache %I
After=network.target

[Service]
User=nim
Group=nim
ExecStart=/usr/bin/env python3 -m venise.sorties.cache -H %I
WorkingDirectory=/home/nim/LAAS

[Install]
WantedBy=multi-user.target
