<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transhumus</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!--
        <link rel="stylesheet" href="http://192.168.10.140/bootstrap.min.css">
        <script src="http://192.168.10.140/jquery.min.js"></script>
        <script src="http://192.168.10.140/bootstrap.min.js"></script>
        -->
        <style>
            svg { width: {{ PX_PAR_M * WIDTH }}px; height: {{ PX_PAR_M * HEIGHT }}px; fill: none; background-color: 'orange'; }
            svg { background-image: url("http://bde.saurel.me/plan.png"); background-position: -16px -302px; background-size: 117.5%; }
            #g2 { stroke: red; }
            #g3 { stroke: green; }
            #g4 { stroke: blue; }
        </style>
    </head>
    <body>
        <svg>
            <g transform="translate(0,{{ PX_PAR_M * HEIGHT }})">
                <g transform="scale(1,-1)">
                    <g transform="translate({{ PX_PAR_M * 15 }},0)">
                        <g id="g2">
                            <polygon points="{% for p in PATHS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in ALLER_RETOURS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path2" />
                            <g id="agv2">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>

                        <g id="g3">
                            <polygon points="{% for p in PATHS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in ALLER_RETOURS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path3" />
                            <g id="agv3">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>

                        <g id="g4">
                            <polygon points="{% for p in PATHS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in ALLER_RETOURS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path4" />
                            <g id="agv4">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <ul>
            <li class="2" style="color: red;"></li>
            <li class="3" style="color: green;"></li>
            <li class="4" style="color: blue;"></li>
        </dl>
        {% for arbre in range(2, 5) %}
            <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'stop']})" type="button" class="btn btn-warning">Stop {{ arbre - 1 }}</button>
            <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'start']})" type="button" class="btn btn-success">Start {{ arbre - 1 }}</button>
        {% endfor %}

        <script>
            var last_seen = new Date();
            var size_coef = 2;
            var data;
            $(document).ready(function() {
                var source = new EventSource("/sub");
                source.onmessage = function(e) {
                    data = JSON.parse(e.data);
                    for (a = 2; a < 5; a++) {
                        if (data[a]) {
                            if (data[a]['x'] != 0) {
                                d = $('#path' + a).attr('d');
                                $('#path' + a).attr({d: (d ? d + " L " : "M ") + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }})});
                                $('#agv' + a + ' polygon').attr({d: d});
                            }
                            $('#agv' + a + ' .v').attr({
                                x2: data[a]['v'] * Math.cos(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                                y2: data[a]['v'] * Math.sin(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                            });
                            $('#agv' + a + ' .t1').attr({
                                x2: data[a]['vc'][0] * Math.cos(data[a]['tm'][0]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vc'][0] * Math.sin(data[a]['tm'][0]) * size_coef - {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t2').attr({
                                x2: data[a]['vc'][1] * Math.cos(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vc'][1] * Math.sin(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t3').attr({
                                x2: data[a]['vc'][2] * Math.cos(data[a]['tm'][2]) * size_coef - {{ RAYON_AGV * PX_PAR_M }},
                                y2: data[a]['vc'][2] * Math.sin(data[a]['tm'][2]) * size_coef,
                            });
                            $('#agv' + a).attr({
                                transform: 'translate(' + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }}) + ') rotate(' + (data[a]['a'] * 180 / Math.PI) +') scale(-1, -1)',
                            });
                            $('li.' + a).html((a - 1) + ' : ' + data[a]['status']);
                            $('#agv' + a).css('fill', data[a]['stop'] ? 'yellow' : 'none');
                        }
                    }
                    last_seen = new Date();
                };
            });
        setInterval(function(){
            now = new Date();
            diff = now - last_seen;
            diff = new Date(diff);
            $('svg').css("background-color", diff.getSeconds() >= 1 ? "orange" : "white");
        }, 500);
        </script>
    </body>
</html>
