<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transhumus</title>
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        -->
        <link rel="stylesheet" href="http://192.168.10.140/bootstrap.min.css">
        <script src="http://192.168.10.140/jquery.min.js"></script>
        <script src="http://192.168.10.140/bootstrap.min.js"></script>
        <style>
            svg { width: {{ PX_PAR_M * WIDTH }}px; height: {{ PX_PAR_M * HEIGHT }}px; fill: none; background-color: 'red'; }
            svg { background-image: url("http://localhost/plan.png"); background-position: -16px -302px; background-size: 117.5%; }
            #agv2, #paths2, #path2 { stroke: red; }
            #agv3, #paths3, #path3 { stroke: green; }
            #agv4, #paths4, #path4 { stroke: blue; }
        </style>
    </head>
    <body>
        <svg>
            <g transform="translate(0,{{ PX_PAR_M * HEIGHT }})">
                <g transform="scale(1,-1)">
                    <g transform="translate({{ PX_PAR_M * 15 }},0)">
                        <polygon id="paths2" points="{% for p in PATHS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                        <path id="path2" />
                        <g id="agv2">
                            <circle cx="0" cy="0" r="70" />
                            <circle class="centre" cx="0" cy="0" r="2" />
                            <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                            <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="v" x1="0" y1="0" />
                            <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                        </g>

                        <polygon id="paths3" points="{% for p in PATHS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                        <path id="path3" />
                        <g id="agv3">
                            <circle cx="0" cy="0" r="70" />
                            <circle class="centre" cx="0" cy="0" r="2" />
                            <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                            <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="v" x1="0" y1="0" />
                            <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                        </g>

                        <polygon id="paths4" points="{% for p in PATHS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                        <path id="path4" />
                        <g id="agv4">
                            <circle cx="0" cy="0" r="70" />
                            <circle class="centre" cx="0" cy="0" r="2" />
                            <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                            <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="v" x1="0" y1="0" />
                            <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                            <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <dl>
            <dd>1</dd>
            <dt class="2"></dt>
            <dd>2</dd>
            <dt class="3"></dt>
            <dd>3</dd>
            <dt class="4"></dt>
        </dl>

        <script>
            var last_seen = new Date();
            var size_coef = 2;
            var data;
            var sv = ['x', 'y', 'a', 'v', 'w', 't', 'v1', 't1', 'v2', 't2', 'v3', 't3'];
            $(document).ready(function() {
                var source = new EventSource("/sub");
                source.onmessage = function(e) {
                    data = JSON.parse(e.data);
                    for (a = 2; a < 5; a++) {
                        if (data[a]) {
                            if (data[a]['x'] != 0) {
                                d = $('#path' + a).attr('d');
                                $('#path' + a).attr({d: (d ? d + " L " : "M ") + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }})});
                                $('#agv' + a + ' polygon').attr({d: d});
                            }
                            $('#agv' + a + ' .v').attr({
                                x2: data[a]['v'] * Math.cos(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                                y2: data[a]['v'] * Math.sin(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                            });
                            $('#agv' + a + ' .t1').attr({
                                x2: data[a]['vt'][0] * Math.cos(data[a]['tm'][0]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vt'][0] * Math.sin(data[a]['tm'][0]) * size_coef - {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t2').attr({
                                x2: data[a]['vt'][1] * Math.cos(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vt'][1] * Math.sin(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t3').attr({
                                x2: data[a]['vt'][2] * Math.cos(data[a]['tm'][2]) * size_coef - {{ RAYON_AGV * PX_PAR_M }},
                                y2: data[a]['vt'][2] * Math.sin(data[a]['tm'][2]) * size_coef,
                            });
                            $('#agv' + a).attr({
                                transform: 'translate(' + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }}) + ') rotate(' + (data[a]['a'] * 180 / Math.PI) +') scale(-1, -1)',
                            });
                            $('dt.' +a).html(data[a]['status']);
                        }
                    }
                    last_seen = new Date();
                };
            });
        setInterval(function(){
            now = new Date();
            diff = now - last_seen;
            diff = new Date(diff);
            if (diff.getSeconds() >= 1) {
                $('svg').css("background-color", "red");
            } else {
                $('svg').css("background-color", "white");
            }
        }, 500);
        </script>
    </body>
</html>
