<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transhumus</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!--
        <link rel="stylesheet" href="http://localhost/bootstrap.min.css">
        <script src="http://localhost/jquery.min.js"></script>
        <script src="http://localhost/bootstrap.min.js"></script>
        -->
        <style>
            svg { width: 1600px; height: 400px; fill: none; background-color: 'orange'; }
            #agv2, #paths2, #path2 { stroke: red; }
            #agv3, #paths3, #path3 { stroke: green; }
            #agv4, #paths4, #path4 { stroke: blue; }
        </style>
    </head>
    <body>
        <table class="table table-striped">
            <tr>
                <th>Arbre</th><th colspan="3">Position</th><th colspan="3">Vitesse</th>
                <th colspan="6">Tourelles</th>
                <th colspan="3">Granier</th>
            </tr>
            <tr>
                <td></td><td>x</td><td>y</td><td>α</td><td>v</td><td>ω</td><td>θ</td>
                <td>v1</td><td>t1</td><td>v2</td><td>t2</td><td>v3</td><td>t3</td>
                <td>1</td><td>2</td><td>3</td>
            </tr>
            {% for arbre in range(2, 5) %}
            <tr id='a{{ arbre }}'>
                <th>{{ arbre - 1}}</th>
                <td class="x"></td>
                <td class="y"></td>
                <td class="a"></td>
                <td class="v"></td>
                <td class="w"></td>
                <td class="t"></td>
                <td class="vc0"></td>
                <td class="tm0"></td>
                <td class="vc1"></td>
                <td class="tm1"></td>
                <td class="vc2"></td>
                <td class="tm2"></td>
                <td class="granier0"></td>
                <td class="granier1"></td>
                <td class="granier2"></td>
            </tr>
            {% endfor %}
        </table>

        <svg>
            <g id="agv2" transform="translate(200 200) scale(2)">
                <circle cx="0" cy="0" r="70" />
                <circle class="centre" cx="0" cy="0" r="2" />
                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="v" x1="0" y1="0" />
                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
            </g>
            <g id="agv3" transform="translate(600 200) scale(2)">
                <circle cx="0" cy="0" r="70" />
                <circle class="centre" cx="0" cy="0" r="2" />
                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="v" x1="0" y1="0" />
                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
            </g>
            <g id="agv4" transform="translate(1000 200) scale(2)">
                <circle cx="0" cy="0" r="70" />
                <circle class="centre" cx="0" cy="0" r="2" />
                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="v" x1="0" y1="0" />
                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
            </g>
        </svg>
        <ul>
            <li class="2" style="color: red;"></li>
            <li class="3" style="color: green;"></li>
            <li class="4" style="color: blue;"></li>
        </dl>
        {% for arbre in range(2, 5) %}
            <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'stop']})" type="button" class="btn btn-xs">Stop {{ arbre - 1 }}</button>
        {% endfor %}
        <script>
            var size_coef = 2; // 59 / 16.5 / 2;
            var data;
            var sv = ['x', 'y', 'a', 'v', 'w', 't'];
            var mv = ['granier', 'vc', 'tt', 'tm', 'tc', 'nt', 'gmi', 'gma', 'gm'];
            $(document).ready(function() {
                var source = new EventSource("/sub");
                source.onmessage = function(e) {
                    data = JSON.parse(e.data);
                    for (a = 2; a < 5; a++) {
                        if (data[a]) {
                            // table
                            for (v in sv) $('#a' + a + ' .' + sv[v]).html(data[a][sv[v]].toFixed(3));
                            for (v in mv) {
                                for (i = 0; i < data[a][mv[v]].length; i++) {
                                    $('#a' + a + ' .' + mv[v] + [i]).html(data[a][mv[v]][i].toFixed(3));
                                }
                            }
                            // svg
                            $('#agv' + a + ' .v').attr({
                                x2: data[a]['v'] * Math.cos(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                                y2: data[a]['v'] * Math.sin(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                            });
                            $('#agv' + a + ' .t1').attr({
                                x2: data[a]['vc'][0] * Math.cos(data[a]['tm'][0]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vc'][0] * Math.sin(data[a]['tm'][0]) * size_coef - {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t2').attr({
                                x2: data[a]['vc'][1] * Math.cos(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vc'][1] * Math.sin(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t3').attr({
                                x2: data[a]['vc'][2] * Math.cos(data[a]['tm'][2]) * size_coef - {{ RAYON_AGV * PX_PAR_M }},
                                y2: data[a]['vc'][2] * Math.sin(data[a]['tm'][2]) * size_coef,
                            });
                            $('li.' + a).html(data[a]['status']);
                            $('#agv' + a).css('fill', data[a]['stop'] ? 'yellow' : 'none');
                        }
                    }
                };
            });
        </script>
    </body>
</html>
