<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transhumus</title>
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        -->
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <script src="static/jquery.min.js"></script>
        <script src="static/bootstrap.min.js"></script>
        <style>
            svg { width: {{ PX_PAR_M * WIDTH }}px; height: {{ PX_PAR_M * HEIGHT }}px; fill: none; fill-opacity: 0.5; background-color: 'orange'; }
            svg { background-image: url("static/plan.png"); background-position: -16px -302px; background-size: 117.5%; }
            #g2 { stroke: red; }
            #g3 { stroke: green; }
            #g4 { stroke: blue; }
            #g2 .destination { fill: red; }
            #g3 .destination { fill: green; }
            #g4 .destination { fill: blue; }
            #a2 th { color: white; background: red; }
            #a3 th { color: white; background: green; }
            #a4 th { color: white; background: blue; }
        </style>
    </head>
    <body>
        <svg>
            <g transform="translate(0,{{ PX_PAR_M * HEIGHT }})">
                <g transform="scale(1,-1)">
                    <g transform="translate({{ PX_PAR_M * 15 }},0)">
                        <g id="g2">
                            {% for path in PATHS_SVG[2] %}<polygon points="{% for p in path %}{{p|join(',')}} {% endfor %}" />{% endfor %}
                            {% if expert %}<polygon points="{% for p in ALLER_RETOURS_SVG[2] %}{{p|join(',')}} {% endfor %}" />{% endif %}
                            <polygon points="{% for p in BORDS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path2" />
                            <circle class="destination" r="{{ PX_PAR_M / 2 }}" />
                            <g id="agv2">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>

                        <g id="g3">
                            <circle class="destination" r="{{ PX_PAR_M / 2 }}" />
                            {% for path in PATHS_SVG[3] %}<polygon points="{% for p in path %}{{p|join(',')}} {% endfor %}" />{% endfor %}
                            {% if expert %}<polygon points="{% for p in ALLER_RETOURS_SVG[3] %}{{p|join(',')}} {% endfor %}" />{% endif %}
                            <polygon points="{% for p in BORDS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path3" />
                            <g id="agv3">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>

                        <g id="g4">
                            <circle class="destination" r="{{ PX_PAR_M / 2 }}" />
                            {% for path in PATHS_SVG[4] %}<polygon points="{% for p in path %}{{p|join(',')}} {% endfor %}" />{% endfor %}
                            {% if expert %}<polygon points="{% for p in ALLER_RETOURS_SVG[4] %}{{p|join(',')}} {% endfor %}" />{% endif %}
                            <polygon points="{% for p in BORDS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path4" />
                            <g id="agv4">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <table class="table table-striped">
            <tr>
                <th>Arbre</th>
                {% if expert %}<th>x</th><th>y</th><th>v</th><th>ω</th><th colspan="3">Tours</th>{% endif %}
                <th>Stop</th><th>Boost</th><th>Arrière</th>
                {% if expert %}<th>Reverse</th><th>Lissage</th><th>Lissage vitesse</th><th>Anomaly</th><th>État</th><th>Sens</th><th>Destination</th><th>Chemin</th><th>Chemin</th>{% endif %}
                <th>Status</th>
            </tr>
            {% for arbre in range(2, 5) %}
            <tr id='a{{ arbre }}'>
                <th>{{ arbre - 1}}</th>
                {% if expert %}
                <td class="x"></td>
                <td class="y"></td>
                <td class="v"></td>
                <td class="w"></td>
                <td class="nt0"></td>
                <td class="nt1"></td>
                <td class="nt2"></td>
                {% endif %}
                {% for var in ['stop', 'boost', 'arriere'] %}
                    <td>
                        <button onclick="$.post('/', {'cmd': [{{ arbre }}, '{{ var }}-ko']})" type="button" class="btn btn-lg btn-warning {{ var }}-ok hidden">✔</button>
                        <button onclick="$.post('/', {'cmd': [{{ arbre }}, '{{ var }}-ok']})" type="button" class="btn btn-lg btn-success {{ var }}-ko hidden">✘</button>
                    </td>
                {% endfor %}
                {% if expert %}
                {% for var in ['reverse', 'smoothe', 'smoothe_speed'] %}
                    <td>
                        <button onclick="$.post('/', {'cmd': [{{ arbre }}, '{{ var }}-ko']})" type="button" class="btn btn-lg btn-success {{ var }}-ok hidden">✔</button>
                        <button onclick="$.post('/', {'cmd': [{{ arbre }}, '{{ var }}-ok']})" type="button" class="btn btn-lg btn-warning {{ var }}-ko hidden">✘</button>
                    </td>
                {% endfor %}
                <td class="anomaly"></td>
                <td class="state"></td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'sens-ko']})" type="button" class="btn btn-lg sens-ok hidden">↺</button>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'sens-ok']})" type="button" class="btn btn-lg sens-ko hidden">↻</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'dest-']})" type="button" class="btn btn-lg">←</button>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'dest+']})" type="button" class="btn btn-lg">→</button>
                </td>
                <td class="choosen_path"></td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'path-']})" type="button" class="btn btn-lg">←</button>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'path+']})" type="button" class="btn btn-lg">→</button>
                </td>
                {% endif %}
                <td class="status"></td>
            </tr>
            {% endfor %}
        </table>

        {% if expert %}
        <ul>
            <li class="2"></li>
            <li class="3"></li>
            <li class="4"></li>
        </ul>
        {% endif %}

        <script>
            var last_seen = new Date();
            var size_coef = 2;
            var data;
            var sv = ['x', 'y', 'v', 'w'];
            var mv = ['nt'];
            var uv = ['stop', 'sens', 'boost', 'arriere', 'reverse', 'smoothe', 'smoothe_speed'];
            $(document).ready(function() {
                var source = new EventSource("/sub");
                source.onmessage = function(e) {
                    data = JSON.parse(e.data);
                    for (a = 2; a < 5; a++) {
                        if (data[a]) {
                            for (v in sv) $('#a' + a + ' .' + sv[v]).html(data[a][sv[v]].toFixed(1));
                            for (v in mv) {
                                for (i = 0; i < data[a][mv[v]].length; i++) {
                                    $('#a' + a + ' .' + mv[v] + [i]).html(data[a][mv[v]][i]);
                                }
                            }
                            for (v in uv) {
                                if (data[a][uv[v]]){
                                    $('#a' + a + ' .' + uv[v] + '-ok').removeClass('hidden');
                                    $('#a' + a + ' .' + uv[v] + '-ko').addClass('hidden');
                                } else {
                                    $('#a' + a + ' .' + uv[v] + '-ko').removeClass('hidden');
                                    $('#a' + a + ' .' + uv[v] + '-ok').addClass('hidden');
                                }
                            }
                            {% if expert %}
                            if (data[a]['x'] != 0) {
                                d = $('#path' + a).attr('d');
                                $('#path' + a).attr({d: (d ? d + " L " : "M ") + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }})});
                                $('#agv' + a + ' polygon').attr({d: d});
                            }
                            {% endif %}
                            $('#agv' + a + ' .v').attr({
                                x2: data[a]['v'] * Math.cos(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                                y2: data[a]['v'] * Math.sin(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                            });
                            $('#agv' + a + ' .t1').attr({
                                x2: data[a]['vm'][0] * Math.cos(data[a]['tm'][0]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vm'][0] * Math.sin(data[a]['tm'][0]) * size_coef - {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t2').attr({
                                x2: data[a]['vm'][1] * Math.cos(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vm'][1] * Math.sin(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t3').attr({
                                x2: data[a]['vm'][2] * Math.cos(data[a]['tm'][2]) * size_coef - {{ RAYON_AGV * PX_PAR_M }},
                                y2: data[a]['vm'][2] * Math.sin(data[a]['tm'][2]) * size_coef,
                            });
                            $('#agv' + a).attr({
                                transform: 'translate(' + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }}) + ') rotate(' + (data[a]['a'] * 180 / Math.PI) +') scale(-1, -1)',
                            });
                            $('#g' + a + ' .destination').attr({
                                cx: data[a]['destination'][0] * {{ PX_PAR_M }},
                                cy: data[a]['destination'][1] * {{ PX_PAR_M }},
                            });
                            $('#a' + a + ' .status').html(data[a]['status']);
                            {% if expert %}
                            $('#a' + a + ' .anomaly').html(data[a]['anomaly'] ? '✔' : '✘');
                            $('#a' + a + ' .state').html(data[a]['state']);
                            $('#a' + a + ' .choosen_path').html(data[a]['choosen_path']);
                            $('li.' + a).html(data[a]['erreurs']);
                            {% endif %}
                            $('#agv' + a).css('fill', data[a]['is_up'] ? data[a]['stop'] ? 'yellow' : 'none' : 'orange');
                        }
                    }
                    last_seen = new Date();
                };
            });
        setInterval(function(){
            now = new Date();
            diff = now - last_seen;
            diff = new Date(diff);
            if (diff.getSeconds() >= 1) {
                $('svg').css("background-color", "orange");
                $('button').addClass('disabled');
            } else {
                $('svg').css("background-color", "white");
                $('button').removeClass('disabled');
            }
        }, 500);
        </script>
    </body>
</html>
