<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transhumus</title>
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        -->
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <script src="static/jquery.min.js"></script>
        <script src="static/bootstrap.min.js"></script>
        <style>
            svg { width: {{ PX_PAR_M * WIDTH }}px; height: {{ PX_PAR_M * HEIGHT }}px; fill: none; fill-opacity: 0.5; background-color: 'orange'; }
            svg { background-image: url("static/plan.png"); background-position: -16px -302px; background-size: 117.5%; }
            #g2 { stroke: red; }
            #g3 { stroke: green; }
            #g4 { stroke: blue; }
        </style>
    </head>
    <body>
        <svg>
            <g transform="translate(0,{{ PX_PAR_M * HEIGHT }})">
                <g transform="scale(1,-1)">
                    <g transform="translate({{ PX_PAR_M * 15 }},0)">
                        <g id="g2">
                            <polygon points="{% for p in PATHS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in ALLER_RETOURS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in BORDS_SVG[2] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path2" />
                            <g id="agv2">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0"      />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>

                        <g id="g3">
                            <polygon points="{% for p in PATHS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in ALLER_RETOURS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in BORDS_SVG[3] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path3" />
                            <g id="agv3">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>

                        <g id="g4">
                            <polygon points="{% for p in PATHS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in ALLER_RETOURS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                            <polygon points="{% for p in BORDS_SVG[4] %}{{p|join(',')}} {% endfor %}" />
                            <path id="path4" />
                            <g id="agv4">
                                <circle cx="0" cy="0" r="{{ DIST_MIN_AGV * PX_PAR_M / 2}}" />
                                <circle class="centre" cx="0" cy="0" r="2" />
                                <circle class="r1" r="2" cx="-{{ RAYON_AGV * PX_PAR_M }}" cy="0" />
                                <circle class="r2" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <circle class="r3" r="2" cx="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" cy="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="v" x1="0" y1="0" />
                                <line class="t1" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="-{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t2" x1="{{ RAYON_AGV * PX_PAR_M * 0.707 }}" y1="+{{ RAYON_AGV * PX_PAR_M * 0.707 }}" />
                                <line class="t3" x1="-{{ RAYON_AGV * PX_PAR_M }}" y1="0" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <table class="table table-striped">
            <tr>
                <th>Arbre</th><th>x</th><th>y</th><th>v</th><th>ω</th><th colspan="3">Tours</th>
                <th>Marche</th><th>Reverse</th><th>Lissage</th><th>Lissage vitesse</th><th>Boost</th><th>Arrière</th><th>Changement de sens</th>
            </tr>
            {% for arbre in range(2, 5) %}
            <tr id='a{{ arbre }}'>
                <th>{{ arbre - 1}}</th>
                <td class="x"></td>
                <td class="y"></td>
                <td class="v"></td>
                <td class="w"></td>
                <td class="nt0"></td>
                <td class="nt1"></td>
                <td class="nt2"></td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'start']})" type="button" class="btn btn-success">✔</button>
                    <span class="start"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'stop']})" type="button" class="btn btn-warning">✘</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'reverse-ok']})" type="button" class="btn btn-success">✔</button>
                    <span class="reverse"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'reverse-ko']})" type="button" class="btn btn-warning">✘</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'smoothe-ok']})" type="button" class="btn btn-success">✔</button>
                    <span class="smoothe"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'smoothe-ko']})" type="button" class="btn btn-warning">✘</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'smoothe-speed-ok']})" type="button" class="btn btn-success">✔</button>
                    <span class="smoothe_speed"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'smoothe-speed-ko']})" type="button" class="btn btn-warning">✘</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'boost-ok']})" type="button" class="btn btn-warning">✔</button>
                    <span class="boost"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'boost-ko']})" type="button" class="btn btn-success">✘</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'arriere-ok']})" type="button" class="btn btn-warning">✔</button>
                    <span class="arriere"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'arriere-ko']})" type="button" class="btn btn-success">✘</button>
                </td>
                <td>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'sens-ok']})" type="button" class="btn btn-success">✔</button>
                    <span class="sens"></span>
                    <button onclick="$.post('/', {'cmd': [{{ arbre }}, 'sens-ko']})" type="button" class="btn btn-warning">✘</button>
            </tr>
            {% endfor %}
        </table>

        <ul>
            <li class="2" style="color: red;"></li>
            <li class="3" style="color: green;"></li>
            <li class="4" style="color: blue;"></li>
        </ul>

        <script>
            var last_seen = new Date();
            var size_coef = 2;
            var data;
            var sv = ['x', 'y', 'v', 'w'];
            var mv = ['nt'];
            var bv = ['start', 'reverse', 'smoothe', 'smoothe_speed', 'boost', 'arriere', 'sens'];
            $(document).ready(function() {
                var source = new EventSource("/sub");
                source.onmessage = function(e) {
                    data = JSON.parse(e.data);
                    for (a = 2; a < 5; a++) {
                        if (data[a]) {
                            for (v in sv) $('#a' + a + ' .' + sv[v]).html(data[a][sv[v]].toFixed(1));
                            for (v in mv) {
                                for (i = 0; i < data[a][mv[v]].length; i++) {
                                    $('#a' + a + ' .' + mv[v] + [i]).html(data[a][mv[v]][i]);
                                }
                            }
                            for (v in bv) $('#a' + a + ' .' + bv[v]).html(data[a][bv[v]] ? '✔' : '✘');
                            if (data[a]['x'] != 0) {
                                d = $('#path' + a).attr('d');
                                $('#path' + a).attr({d: (d ? d + " L " : "M ") + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }})});
                                $('#agv' + a + ' polygon').attr({d: d});
                            }
                            $('#agv' + a + ' .v').attr({
                                x2: data[a]['v'] * Math.cos(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                                y2: data[a]['v'] * Math.sin(data[a]['t']) * {{ VIT_MOY_MAX }} * size_coef,
                            });
                            $('#agv' + a + ' .t1').attr({
                                x2: data[a]['vc'][0] * Math.cos(data[a]['tm'][0]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vc'][0] * Math.sin(data[a]['tm'][0]) * size_coef - {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t2').attr({
                                x2: data[a]['vc'][1] * Math.cos(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                                y2: data[a]['vc'][1] * Math.sin(data[a]['tm'][1]) * size_coef + {{ RAYON_AGV * PX_PAR_M * 0.707 }},
                            });
                            $('#agv' + a + ' .t3').attr({
                                x2: data[a]['vc'][2] * Math.cos(data[a]['tm'][2]) * size_coef - {{ RAYON_AGV * PX_PAR_M }},
                                y2: data[a]['vc'][2] * Math.sin(data[a]['tm'][2]) * size_coef,
                            });
                            $('#agv' + a).attr({
                                transform: 'translate(' + (data[a]['x'] * {{ PX_PAR_M }}) + ' ' + (data[a]['y'] * {{ PX_PAR_M }}) + ') rotate(' + (data[a]['a'] * 180 / Math.PI) +') scale(-1, -1)',
                            });
                            $('#agv' + a).css('fill', data[a]['start'] ? 'none' : 'yellow');
                            $('li.' + a).html(data[a]['status']);
                        }
                    }
                    last_seen = new Date();
                };
            });
        setInterval(function(){
            now = new Date();
            diff = now - last_seen;
            diff = new Date(diff);
            $('svg').css("background-color", diff.getSeconds() >= 1 ? "orange" : "white");
        }, 500);
        </script>
    </body>
</html>
