svg {
    fill: none;
    fill-opacity: 0.5;
    background-image: url("static/plan.png");
    background-position: 50px -300px;
    background-size: 1400px 1045px;
    background-repeat: no-repeat;
    stroke: green;
}
#g3 .destination { fill: green; }

